.center-image {
  margin: 0 auto;
  display: block;
}

.spec {
  float: right;
  padding: 1em;
  font-weight: 700;
}

.es1 {
  background: #003e70;
  color: #fff;
}

.es5 {
  background: #008EFF;
  color: #fff;
}

.es6 {
  background: #E5DEB0;
}

.es7 {
  background: #E98D00;
}
